<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    사용자 테이블
 -->
<mapper namespace="com.inho.electronicbusinesscard.repository.MemberMapper">

    <select id="findAll" resultType="com.inho.electronicbusinesscard.domain.member.vo.MemberVO" parameterType="Map">
        /*
            [UserMapper.findAll] 사용자 전체 조회
        */
        SELECT member_idx
             , member_name
             , company
             , certification_dt
             , phone_number
             , email
             , department
             , created_id
             , created_dt
             , updated_id
             , updated_dt
        FROM MEMBERS
        WHERE 1 = 1
        <if test="memberName != null and memberName.trim().length() > 1">
            AND member_name LIKE CONCAT('%', #{memberName}, '%')
        </if>
        <if test="company != null and company.trim().length() > 1">
            AND company LIKE CONCAT('%', #{company}, '%')
        </if>
        <if test="department != null and department.trim().length() > 1">
            AND department LIKE CONCAT('%', #{department}, '%')
        </if>
        ORDER BY user_name
    </select>

    <insert id="add" parameterType="Map">
        /*
            [UserMapper.add] 사용자 추가
        */
        INSERT INTO MEMBERS (
               member_name
             , company
             , certification_dt
             , phone_number
             , email
             , department
             , created_id
             , created_dt
             ) VALUES (
               #{memberName}
             , #{company}
             , #{certificationDt}
             , #{phoneNumber}
             , #{email}
             , #{department}
             , #{createdId}
             , CURRENT_TIMESTAMP
        )
    </insert>

    <update id="modify" parameterType="Map">
        /*
            [UserMapper.modify] 사용자 정보 수정
        */
        UPDATE MEMBERS
         <set>
             <if test="memberName != nul and memberName.trim().length() > 1">
                 member_name = #{memberName},
             </if>
             <if test="phoneNumber != null and phoneNumber.trim().length() >1">
                 phone_number = #{phoneNumber},
             </if>
             <if test="email != null and email.trim().length() > 1">
                 email = #{email},
             </if>
         </set>
        WHERE member_idx = #{memberIdx}
    </update>

</mapper>
